.version.documents_justificatifs /* version checker */
{
	color: #00001D;
	background-color: #B86480;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 605px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 4px;
	padding-bottom: 57px;
	width: 0.01px;/* should not cover content below */
}

#u3533
{
	z-index: 2;
	width: 387px;
	position: relative;
}

#pu2143
{
	width: 0.01px;
	margin-top: 5px;
}

#u2143
{
	z-index: 4;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #353533;
}

#u2141
{
	z-index: 5;
	width: 49px;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u2141_img
{
	padding-right: 1px;
	padding-bottom: 2px;
}

#u2201
{
	z-index: 11;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 348px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2143-bw
{
	z-index: 4;
	min-height: 41px;
}

#u2144
{
	z-index: 8;
	width: 256px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 60px;
}

#u2144_states
{
	float: left;
	width: 256px;
	height: 22px;
	background: transparent url("../../images/u2144_states.png") no-repeat 0px 0px;
}

#u2144:hover #u2144_states
{
	background: transparent url("../../images/u2144_states-r.png") no-repeat 0px 0px;
}

#u2144:active #u2144_states
{
	background: transparent url("../../images/u2144_states-m.png") no-repeat 0px 0px;
}

#u3625
{
	z-index: 69;
	width: 243px;
	background-color: transparent;
	margin-left: 63px;
	margin-top: 22px;
	position: relative;
}

#pu3609
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 41px;
}

#u3609
{
	z-index: 13;
	width: 29px;
	border-color: #000000;
	background-color: #003473;
	border-radius: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3617-4
{
	z-index: 36;
	width: 15px;
	min-height: 12px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u3613-6
{
	z-index: 17;
	width: 247px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 38px;
}

#u3621-4
{
	z-index: 52;
	width: 240px;
	min-height: 26px;
	background-color: transparent;
	font-size: 14px;
	color: #7F7F7F;
	font-style: italic;
	margin-left: 84px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pu3610
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 21px;
}

#u3610
{
	z-index: 14;
	width: 29px;
	border-color: #000000;
	background-color: #003473;
	border-radius: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3618-4
{
	z-index: 40;
	width: 15px;
	min-height: 12px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u3614-4
{
	z-index: 23;
	width: 190px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 37px;
}

#u3622-4
{
	z-index: 56;
	width: 178px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin-left: 83px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u3622
{
	text-decoration: underline;
}

#pu3612
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 31px;
}

#u3612
{
	z-index: 16;
	width: 29px;
	border-color: #000000;
	background-color: #003473;
	border-radius: 14px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u3619-4
{
	z-index: 44;
	width: 15px;
	min-height: 12px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#u3615-5
{
	z-index: 27;
	width: 190px;
	min-height: 40px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 38px;
}

#pu3611
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 29px;
}

#u3611
{
	z-index: 15;
	width: 29px;
	border-color: #000000;
	background-color: #003473;
	border-radius: 14px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3620-4
{
	z-index: 48;
	width: 15px;
	min-height: 12px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u3616-4
{
	z-index: 32;
	width: 190px;
	min-height: 25px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 37px;
}

#pu3623-5
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: -5px;
}

#u3623-5
{
	z-index: 60;
	width: 162px;
	min-height: 54px;
	background-color: transparent;
	color: #7F7F7F;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	left: 19px;
}

#u3623-2
{
	font-size: 14px;
	font-weight: bold;
}

#u3623-3
{
	font-size: 12px;
	line-height: 14px;
}

#u3624-4
{
	z-index: 65;
	width: 186px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	color: #B2B0B0;
	font-size: 12px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

