.version.besoin_assistance /* version checker */
{
	color: #0000E0;
	background-color: #B5624C;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 870px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 6px;
	width: 0.01px;/* should not cover content below */
}

#u3821
{
	z-index: 2;
	width: 395px;
	left: -4px;
	position: relative;
}

#pu2194
{
	width: 0.01px;
}

#u2194
{
	z-index: 8;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #353533;
}

#u2192
{
	z-index: 9;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2192_img
{
	padding-bottom: 1px;
}

#u2205
{
	z-index: 15;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 345px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2194-bw
{
	z-index: 8;
	min-height: 41px;
}

#u2195
{
	z-index: 12;
	width: 256px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 60px;
}

#u2195_states
{
	float: left;
	width: 256px;
	height: 22px;
	background: transparent url("../../images/u2195_states.png") no-repeat 0px 0px;
}

#u2195:hover #u2195_states
{
	background: transparent url("../../images/u2195_states-r.png") no-repeat 0px 0px;
}

#u2195:active #u2195_states
{
	background: transparent url("../../images/u2195_states-m.png") no-repeat 0px 0px;
}

#u2191-4
{
	z-index: 4;
	width: 306px;
	min-height: 34px;
	background-color: transparent;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	margin-left: 35px;
	margin-top: 17px;
	position: relative;
}

#u6190
{
	z-index: 32;
	width: 327px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 17px;
	position: relative;
}

#pu6192-4
{
	width: 0.01px;
	margin-left: 96px;
	margin-top: 19px;
}

#u6192-4
{
	z-index: 34;
	width: 188px;
	min-height: 37px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u6193-4
{
	z-index: 38;
	width: 168px;
	min-height: 29px;
	background-color: #FEC00F;
	padding-left: 10px;
	padding-top: 8px;
	padding-right: 10px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u6194-4
{
	z-index: 42;
	width: 80px;
	min-height: 37px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 17px;
	position: relative;
}

#pu6195-4
{
	width: 0.01px;
	margin-left: 77px;
	margin-top: -1px;
}

#u6195-4
{
	z-index: 46;
	width: 226px;
	min-height: 37px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u6196-4
{
	z-index: 50;
	width: 168px;
	min-height: 29px;
	background-color: #FEC00F;
	padding-left: 10px;
	padding-top: 8px;
	padding-right: 10px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 20px;
}

#u6197-9
{
	z-index: 54;
	width: 327px;
	min-height: 120px;
	background-color: transparent;
	font-size: 17px;
	text-align: center;
	line-height: 22px;
	margin-left: 24px;
	margin-top: 30px;
	position: relative;
}

#u6197-2,#u6197-6
{
	font-weight: bold;
}

#u6186
{
	z-index: 17;
	width: 323px;
	border-style: solid;
	border-width: 3px;
	border-color: #FBBF1B;
	background-color: transparent;
	padding-bottom: 4px;
	margin-left: 24px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u6187-6
{
	z-index: 18;
	width: 291px;
	min-height: 84px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 18px;
}

#u6187-2
{
	font-size: 19px;
	line-height: 23px;
	color: #39A935;
	font-weight: bold;
}

#u6187-4
{
	font-size: 17px;
	line-height: 20px;
}

#u6188
{
	z-index: 24;
	width: 328px;
	border-color: #FBBF1B;
	background-color: #ECECEC;
	padding-bottom: 7px;
	margin-left: 25px;
	margin-top: 28px;
	position: relative;
}

#u6189-7
{
	z-index: 25;
	width: 299px;
	min-height: 68px;
	background-color: transparent;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 30px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

