.version.sinistre /* version checker */
{
	color: #0000E3;
	background-color: #1D6D60;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 562.1333333333207px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 1px;
}

#u3703
{
	z-index: 2;
	width: 380px;
	position: relative;
}

#pu2239
{
	width: 0.01px;
	margin-top: 10px;
}

#u2239
{
	z-index: 4;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #353533;
}

#u2237
{
	z-index: 5;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2237_img
{
	padding-bottom: 1px;
}

#u2245
{
	z-index: 11;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 348px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2239-bw
{
	z-index: 4;
	min-height: 41px;
}

#u2240
{
	z-index: 8;
	width: 256px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 60px;
}

#u2240_states
{
	float: left;
	width: 256px;
	height: 22px;
	background: transparent url("../../images/u2240_states.png") no-repeat 0px 0px;
}

#u2240:hover #u2240_states
{
	background: transparent url("../../images/u2240_states-r.png") no-repeat 0px 0px;
}

#u2240:active #u2240_states
{
	background: transparent url("../../images/u2240_states-m.png") no-repeat 0px 0px;
}

#pu3863
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 19px;
}

#u3863
{
	z-index: 37;
	width: 348px;
	height: 813px;
	background-color: #EAE8E8;
	position: relative;
	margin-right: -10000px;
}

#pamphletu3864
{
	z-index: 38;
	width: 0.01px;
	height: 394px;
	padding-bottom: 388px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 9px;
}

#u3884
{
	position: absolute;
	width: 328px;
	background-color: transparent;
	top: 426px;
	left: 2px;
}

#u3884popup
{
	z-index: 39;
}

#u3885
{
	z-index: 40;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3886-10
{
	z-index: 41;
	width: 318px;
	min-height: 340px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 6px;
}

#u3895
{
	z-index: 51;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3896-9
{
	z-index: 52;
	width: 318px;
	min-height: 205px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 6px;
}

#u3891
{
	z-index: 61;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3892-8
{
	z-index: 62;
	width: 321px;
	min-height: 267px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 7px;
}

#u3893
{
	z-index: 70;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3894-6
{
	z-index: 71;
	width: 310px;
	min-height: 239px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u3894-3
{
	color: #000000;
}

#u3889
{
	z-index: 77;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3890-8
{
	z-index: 78;
	width: 293px;
	min-height: 205px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 19px;
}

#u3897
{
	z-index: 86;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3898-6
{
	z-index: 87;
	width: 318px;
	min-height: 223px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 6px;
}

#u3887
{
	z-index: 93;
	width: 328px;
	height: 356px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3888-7
{
	z-index: 94;
	width: 301px;
	min-height: 202px;
	background-color: transparent;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u3886-4,#u3886-8,#u3896-7,#u3892-6,#u3894-4,#u3890-6,#u3898-4,#u3888-5
{
	padding-right: 20px;
	padding-left: 16px;
	padding-top: 20px;
}

#u3886-2,#u3886-6,#u3896-2,#u3896-3,#u3896-5,#u3892-2,#u3892-4,#u3894-2,#u3890-2,#u3890-4,#u3898-2,#u3888-2,#u3888-4
{
	color: #034587;
	font-weight: bold;
}

#u3867
{
	z-index: 101;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 68px;
}

#pu3868
{
	position: absolute;
	width: 0.01px;
	top: -13px;
	left: -66px;
}

#u3868
{
	position: absolute;
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#u3869
{
	z-index: 105;
	height: 22px;
	width: 189px;
	vertical-align: top;
	background: transparent url("../../images/u3869.png") no-repeat 0px 0px;
}

#pu3868:hover #u3869
{
	position: relative;
	width: 189px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 71px;
	background: transparent url("../../images/u3869-r.png") no-repeat 0px 0px;
}

#pu3868.PamphletThumbSelected #u3869
{
	position: relative;
	width: 189px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 72px;
	background: transparent url("../../images/u3869-a.png") no-repeat 0px 0px;
}

#pu3868 #u3869
{
	position: relative;
	width: 189px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 71px;
}

#pu3874
{
	position: absolute;
	width: 0.01px;
	top: 46px;
	left: -66px;
}

#u3874
{
	position: absolute;
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #39B54A;
}

#pu3874:hover #u3874
{
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #39B54A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu3874.PamphletThumbSelected #u3874
{
	width: 328px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2D993C;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u3875
{
	z-index: 113;
	height: 22px;
	width: 183px;
	vertical-align: top;
	background: transparent url("../../images/u3875.png") no-repeat 0px 0px;
}

#pu3874:hover #u3875
{
	position: relative;
	width: 183px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 74px;
	background: transparent url("../../images/u3875-r.png") no-repeat 0px 0px;
}

#pu3874.PamphletThumbSelected #u3875
{
	position: relative;
	width: 183px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 75px;
	background: transparent url("../../images/u3875-a.png") no-repeat 0px 0px;
}

#pu3874 #u3875
{
	position: relative;
	width: 183px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 74px;
}

#pu3880
{
	position: absolute;
	width: 0.01px;
	top: 105px;
	left: -66px;
}

#u3880
{
	position: absolute;
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#u3881
{
	z-index: 121;
	height: 25px;
	width: 200px;
	vertical-align: top;
	background: transparent url("../../images/u3881.png") no-repeat 0px 0px;
}

#pu3880:hover #u3881
{
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 65px;
	background: transparent url("../../images/u3881-r.png") no-repeat 0px 0px;
}

#pu3880.PamphletThumbSelected #u3881
{
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 66px;
	background: transparent url("../../images/u3881-a.png") no-repeat 0px 0px;
}

#pu3880 #u3881
{
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 65px;
}

#pu3876
{
	position: absolute;
	width: 0.01px;
	top: 224px;
	left: -66px;
}

#u3876
{
	position: absolute;
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#u3877
{
	z-index: 129;
	height: 39px;
	width: 188px;
	vertical-align: top;
	background: transparent url("../../images/u3877.png") no-repeat 0px 0px;
}

#pu3876.PamphletThumbSelected #u3877
{
	position: relative;
	width: 188px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 72px;
	background: transparent url("../../images/u3877-a.png") no-repeat 0px 0px;
}

#pu3878
{
	position: absolute;
	width: 0.01px;
	top: 343px;
	left: -66px;
}

#u3878
{
	position: absolute;
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#u3879
{
	z-index: 136;
	height: 27px;
	width: 185px;
	vertical-align: top;
	background: transparent url("../../images/u3879.png") no-repeat 0px 0px;
}

#pu3878.PamphletThumbSelected #u3879
{
	position: relative;
	width: 185px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 74px;
	background: transparent url("../../images/u3879-a.png") no-repeat 0px 0px;
}

#pu3878 #u3879,#pu3878:hover #u3879
{
	position: relative;
	width: 185px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 73px;
}

#pu3870
{
	position: absolute;
	width: 0.01px;
	top: 165px;
	left: -68px;
}

#u3870
{
	position: absolute;
	width: 329px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3870:hover #u3870
{
	width: 329px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu3870.PamphletThumbSelected #u3870
{
	width: 330px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u3871
{
	z-index: 143;
	height: 25px;
	width: 200px;
	vertical-align: top;
	background: transparent url("../../images/u3871.png") no-repeat 0px 0px;
}

#pu3870:hover #u3871
{
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 67px;
	background: transparent url("../../images/u3871-r.png") no-repeat 0px 0px;
}

#pu3870.PamphletThumbSelected #u3871
{
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 68px;
	background: transparent url("../../images/u3871-a.png") no-repeat 0px 0px;
}

#pu3870 #u3871
{
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 67px;
}

#pu3872
{
	position: absolute;
	width: 0.01px;
	top: 283px;
	left: -66px;
}

#u3872
{
	position: absolute;
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3868.PamphletThumbSelected #u3868,#pu3880.PamphletThumbSelected #u3880,#pu3876.PamphletThumbSelected #u3876,#pu3878.PamphletThumbSelected #u3878,#pu3872.PamphletThumbSelected #u3872
{
	width: 328px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu3868:hover #u3868,#pu3880:hover #u3880,#pu3876:hover #u3876,#pu3878:hover #u3878,#pu3872:hover #u3872
{
	width: 327px;
	height: 49px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3873
{
	z-index: 151;
	height: 38px;
	width: 188px;
	vertical-align: top;
	background: transparent url("../../images/u3873.png") no-repeat 0px 0px;
}

#pu3872.PamphletThumbSelected #u3873
{
	position: relative;
	width: 188px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 72px;
	background: transparent url("../../images/u3873-a.png") no-repeat 0px 0px;
}

#pu3876 #u3877,#pu3876:hover #u3877,#pu3872 #u3873,#pu3872:hover #u3873
{
	position: relative;
	width: 188px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 71px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu3850
{
	width: 0.01px;
	margin-left: 47px;
	margin-top: 44px;
}

#u3850
{
	z-index: 21;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3848-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 118px;
}

#u3848-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3854-4
{
	z-index: 31;
	width: 178px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin-top: 3px;
	position: relative;
}

#u3854
{
	text-decoration: underline;
}

#pu3849-4
{
	width: 0.01px;
	margin-left: 31px;
	margin-top: 25px;
}

#u3849-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 135px;
}

#u3852-4
{
	z-index: 23;
	width: 169px;
	min-height: 34px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 135px;
}

#u3853-4
{
	z-index: 27;
	width: 173px;
	min-height: 10px;
	background-color: transparent;
	line-height: 14px;
	color: #B2B0B0;
	font-size: 12px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 130px;
}

#u3855
{
	z-index: 35;
	width: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 50px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

