.version.sinistre /* version checker */
{
	color: #000012;
	background-color: #5F3136;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.8653225806331px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 4px;
	width: 0.01px;/* should not cover content below */
}

#u3533
{
	z-index: 2;
	width: 387px;
	position: relative;
}

#pu2239
{
	width: 0.01px;
	margin-top: 5px;
}

#u2239
{
	z-index: 4;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #353533;
}

#u2237
{
	z-index: 5;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2237_img
{
	padding-bottom: 1px;
}

#u2245
{
	z-index: 11;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 348px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2239-bw
{
	z-index: 4;
	min-height: 41px;
}

#u2240
{
	z-index: 8;
	width: 256px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 60px;
}

#u2240_states
{
	float: left;
	width: 256px;
	height: 22px;
	background: transparent url("../../images/u2240_states.png") no-repeat 0px 0px;
}

#u2240:hover #u2240_states
{
	background: transparent url("../../images/u2240_states-r.png") no-repeat 0px 0px;
}

#u2240:active #u2240_states
{
	background: transparent url("../../images/u2240_states-m.png") no-repeat 0px 0px;
}

#pu3674
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 12px;
}

#u3674
{
	z-index: 65;
	width: 349px;
	height: 668px;
	background-color: #EAE8E8;
	position: relative;
	margin-right: -10000px;
}

#pamphletu3675
{
	z-index: 66;
	width: 0.01px;
	height: 268px;
	padding-bottom: 353px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 11px;
}

#u3680
{
	position: absolute;
	width: 324px;
	background-color: transparent;
	top: 310px;
}

#u3680popup
{
	z-index: 67;
}

#u3689
{
	z-index: 68;
	width: 324px;
	height: 311px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3692-6
{
	z-index: 69;
	width: 301px;
	min-height: 276px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 12px;
}

#u3685
{
	z-index: 75;
	width: 324px;
	height: 311px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3686-10
{
	z-index: 76;
	width: 301px;
	min-height: 254px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 12px;
}

#u3692-4,#u3686-6,#u3686-8
{
	padding-left: 10px;
}

#u3681
{
	z-index: 86;
	width: 324px;
	height: 311px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3682-7
{
	z-index: 87;
	width: 294px;
	min-height: 142px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u3682-5
{
	padding-right: 20px;
	padding-left: 16px;
	padding-top: 20px;
}

#u3693
{
	z-index: 94;
	width: 324px;
	height: 311px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3696-8
{
	z-index: 95;
	width: 296px;
	min-height: 195px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 17px;
}

#u3696-6
{
	padding-left: 16px;
}

#u3692-2,#u3686-2,#u3686-4,#u3682-2,#u3682-4,#u3696-2,#u3696-4
{
	color: #034587;
	font-weight: bold;
}

#u3699
{
	z-index: 103;
	width: 307px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
}

#pu3704
{
	position: absolute;
	width: 0.01px;
	top: -8px;
	left: -6px;
}

#u3704
{
	position: absolute;
	width: 323px;
	height: 66px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3704:hover #u3704
{
	width: 323px;
	height: 66px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu3704.PamphletThumbSelected #u3704
{
	width: 324px;
	height: 67px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u3705
{
	z-index: 107;
	height: 59px;
	width: 298px;
	vertical-align: top;
	background: transparent url("../../images/u3705.png") no-repeat 0px 0px;
}

#pu3704:hover #u3705
{
	position: relative;
	width: 298px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
	background: transparent url("../../images/u3705-r.png") no-repeat 0px 0px;
}

#pu3704.PamphletThumbSelected #u3705
{
	position: relative;
	width: 298px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
	background: transparent url("../../images/u3705-a.png") no-repeat 0px 0px;
}

#pu3704 #u3705
{
	position: relative;
	width: 298px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#pu3702
{
	position: absolute;
	width: 0.01px;
	top: 72px;
	left: -5px;
}

#u3702
{
	position: absolute;
	width: 322px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #39B54A;
}

#pu3702.PamphletThumbSelected #u3702
{
	width: 323px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2D993C;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu3702:hover #u3702
{
	width: 322px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #39B54A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3703
{
	z-index: 115;
	height: 45px;
	width: 293px;
	vertical-align: top;
	background: transparent url("../../images/u3703.png") no-repeat 0px 0px;
}

#pu3702:hover #u3703
{
	position: relative;
	width: 293px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
	background: transparent url("../../images/u3703-r.png") no-repeat 0px 0px;
}

#pu3702.PamphletThumbSelected #u3703
{
	position: relative;
	width: 293px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
	background: transparent url("../../images/u3703-a.png") no-repeat 0px 0px;
}

#pu3702 #u3703
{
	position: relative;
	width: 293px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
}

#pu3700
{
	position: absolute;
	width: 0.01px;
	top: 144px;
	left: -5px;
}

#u3700
{
	position: absolute;
	width: 322px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#u3701
{
	z-index: 123;
	height: 39px;
	width: 306px;
	vertical-align: top;
	background: transparent url("../../images/u3701.png") no-repeat 0px 0px;
}

#pu3700.PamphletThumbSelected #u3701
{
	position: relative;
	width: 306px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
	background: transparent url("../../images/u3701-a.png") no-repeat 0px 0px;
}

#pu3700 #u3701,#pu3700:hover #u3701
{
	position: relative;
	width: 306px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 6px;
}

#pu3706
{
	position: absolute;
	width: 0.01px;
	top: 217px;
	left: -5px;
}

#u3706
{
	position: absolute;
	width: 322px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3700.PamphletThumbSelected #u3700,#pu3706.PamphletThumbSelected #u3706
{
	width: 323px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu3700:hover #u3700,#pu3706:hover #u3706
{
	width: 322px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3707
{
	z-index: 130;
	height: 27px;
	width: 304px;
	vertical-align: top;
	background: transparent url("../../images/u3707.png") no-repeat 0px 0px;
}

#pu3706.PamphletThumbSelected #u3707
{
	position: relative;
	width: 304px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 9px;
	background: transparent url("../../images/u3707-a.png") no-repeat 0px 0px;
}

#pu3706 #u3707,#pu3706:hover #u3707
{
	position: relative;
	width: 304px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 8px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu3648
{
	width: 0.01px;
	margin-left: 40px;
	margin-top: 21px;
}

#u3648
{
	z-index: 34;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3644-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 118px;
}

#u3644-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3655-4
{
	z-index: 52;
	width: 178px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin-top: 3px;
	position: relative;
}

#u3655
{
	text-decoration: underline;
}

#pu3647-4
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 25px;
}

#u3647-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 135px;
}

#u3650-4
{
	z-index: 36;
	width: 169px;
	min-height: 34px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 135px;
}

#u3652-4
{
	z-index: 46;
	width: 173px;
	min-height: 10px;
	background-color: transparent;
	line-height: 14px;
	color: #B2B0B0;
	font-size: 12px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 130px;
}

#u3658
{
	z-index: 58;
	width: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3658_img
{
	padding-right: 19px;
}

#pu3656
{
	width: 0.01px;
	margin-left: 53px;
	margin-top: 16px;
}

#u3656
{
	z-index: 56;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3646-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 97px;
}

#u3646-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3660-5
{
	z-index: 60;
	width: 135px;
	min-height: 27px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u3660
{
	color: #7F7F7F;
	font-weight: bold;
	font-style: italic;
}

#u3643-5
{
	z-index: 13;
	width: 262px;
	min-height: 23px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 20px;
	margin-left: 30px;
	margin-top: 28px;
	position: relative;
}

#u3643-2
{
	color: #1D70B7;
	font-weight: bold;
}

#pu3653
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 11px;
}

#u3653
{
	z-index: 50;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3645-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 128px;
}

#u3645-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3651-6
{
	z-index: 40;
	width: 165px;
	min-height: 70px;
	background-color: transparent;
	color: #7F7F7F;
	font-weight: bold;
	font-style: italic;
	margin-top: 15px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 50px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

