.version.vehicule /* version checker */
{
	color: #00000C;
	background-color: #B1B98F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 562.5833333333334px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 7px;
	padding-bottom: 0px;
}

#u3703
{
	z-index: 2;
	width: 380px;
	position: relative;
}

#pu2494
{
	width: 0.01px;
	margin-top: 10px;
}

#u2494
{
	z-index: 4;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #353533;
}

#u2492
{
	z-index: 5;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2492_img
{
	padding-bottom: 1px;
}

#u2500
{
	z-index: 11;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 348px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2494-bw
{
	z-index: 4;
	min-height: 41px;
}

#u2495
{
	z-index: 8;
	width: 256px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 60px;
}

#u2495_states
{
	float: left;
	width: 256px;
	height: 22px;
	background: transparent url("../../images/u2495_states.png") no-repeat 0px 0px;
}

#u2495:hover #u2495_states
{
	background: transparent url("../../images/u2495_states-r.png") no-repeat 0px 0px;
}

#u2495:active #u2495_states
{
	background: transparent url("../../images/u2495_states-m.png") no-repeat 0px 0px;
}

#pu2503-6
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 20px;
}

#u2503-6
{
	z-index: 13;
	width: 220px;
	min-height: 42px;
	background-color: transparent;
	font-size: 19px;
	text-align: left;
	line-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u2503-2
{
	line-height: 23px;
}

#u2503-3
{
	font-size: 24px;
	line-height: 29px;
}

#u2504
{
	z-index: 19;
	width: 161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 201px;
}

#u2506-5
{
	z-index: 21;
	width: 222px;
	min-height: 34px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
}

#u2503-4,#u2506-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2503,#u2506
{
	font-size: 30px;
	line-height: 36px;
}

#u2506-2
{
	line-height: 41px;
}

#u2507-4
{
	z-index: 26;
	width: 229px;
	min-height: 39px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u2508-4
{
	z-index: 30;
	width: 196px;
	background-color: transparent;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 5px;
}

#pu2514-4
{
	width: 0.01px;
	margin-left: 95px;
	margin-top: 26px;
}

#u2514-4
{
	z-index: 34;
	width: 80px;
	min-height: 50px;
	background-color: transparent;
	font-size: 42px;
	line-height: 50px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#u4011-4
{
	z-index: 45;
	width: 121px;
	min-height: 30px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #5E3E90;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u4012-4
{
	z-index: 49;
	width: 29px;
	min-height: 30px;
	background-color: transparent;
	font-size: 22px;
	line-height: 26px;
	color: #5E3E90;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 92px;
}

#u4013-8
{
	z-index: 53;
	width: 146px;
	min-height: 60px;
	background-color: transparent;
	color: #5E3E90;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 87px;
}

#u4013-2
{
	font-size: 12px;
	line-height: 14px;
}

#u4013
{
	font-weight: normal;
}

#u4013-4,#u4013-6
{
	font-size: 20px;
	line-height: 24px;
}

#u4014-4
{
	z-index: 61;
	width: 76px;
	min-height: 74px;
	background-color: transparent;
	line-height: 78px;
	color: #5E3E90;
	font-size: 65px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 118px;
}

#u4015-4
{
	z-index: 65;
	width: 33px;
	min-height: 36px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	color: #5E3E90;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 200px;
}

#u4016
{
	z-index: 69;
	width: 23px;
	height: 8px;
	border-color: #000000;
	background-color: #5E3E90;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 93px;
}

#u4009
{
	z-index: 43;
	width: 368px;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 21px;
	position: relative;
}

#u2567-5
{
	z-index: 38;
	width: 326px;
	min-height: 16px;
	background-color: transparent;
	margin-left: 31px;
	margin-top: 30px;
	position: relative;
}

#u2567-2
{
	font-weight: bold;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 59px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

