@charset "UTF-8";
@import url("ekomi.css");

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.invisible {
    visibility: hidden;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

label.error {
    margin-bottom: 0;
    top: 100%;
    left: 0;
    color: #DC6060;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2rem;
}

input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type="radio"]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 30px;
}

* {
    margin: 0;
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}

body {
    background: #fff;
    color: #292526;
    font-family: "Asap", sans-serif;
    font-size: 1.6rem;
    padding-top: 8rem;
}

@media screen and (max-width:767px) {
    body {
        padding-top: 5rem;
        font-size: 1.4rem;
    }
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

img.fade-img {
    opacity: 0;
}

img[class^="best-fill"] {
    position: absolute;
}

::-moz-selection {
    background: #96c246;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #96c246;
    color: #fff;
    text-shadow: none
}

h1,
h2,
h3,
label {
    font-family: "Asap", sans-serif;
}

h1 {
    font-size: 3.6rem;
    font-weight: 300;
}

h1.section-title {
    margin-top: 0;
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3.2rem;
    line-height: 3rem;
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 2.8rem;
    }
}

h3 {
    font-size: 1.6rem;
}

h1,
h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: 300;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    color: #292526;
    font-weight: bold;
    text-transform: uppercase;
}

h2.with-bar {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2.with-bar:before {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    background: #e30155;
    left: -3.5rem;
    top: 0;
    height: 100%;
}

@media screen and (max-width:991px) {
    h2.with-bar:before {
        left: -1.8rem;
    }
}

@media screen and (max-width:767px) {
    h2.with-bar {
        padding-left: 2.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    h2.with-bar:before {
        left: 0;
    }
}

a {
    color: #000;
    outline: 0;
    text-decoration: underline;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:focus {
    text-decoration: none;
    color: #000;
}

a:active {
    background-color: transparent;
    color: #000;
}

a img {
    border: 0;
}

label {
    font-size: 1.6rem;
    color: #282425;
    font-weight: normal;
    position: relative;
    margin-bottom: 1rem;
}

button,
input,
select {
    border: .1rem #c0c0c0 solid;
    padding: .5rem;
    background: #fff;
}

input:focus,
select:focus {
    border-color: #e30155;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

p {
    margin-bottom: 14px;
   /* text-align: center;*/
}

.pad {
	padding-left: 26px !important;
	padding-right: 26px !important;
}

ul {
    margin-bottom: 3rem;
}

@media(max-width:767px) {
    ul {
        padding-left: 1.5rem;
    }
}

@media(min-width:1200px) {
    .container {
        width: 970px;
    }
}

.text-highlight-brand {
    color: #e30155;
}

.text-white {
    color: #fff;
}

@media screen and (max-width:767px) {
    .text-black-xs {
        color: #292526;
    }
}

.text-normal {
    text-transform: none;
}

.weight-normal {
    font-weight: normal;
}

.xs-txt {
    font-size: 1.2rem;
}

.lg-txt {
    font-size: 1.6rem;
}

.xlg-txt {
    font-size: 1.8rem;
}

.v-top {
    vertical-align: top !important;
}

.v-mid {
    vertical-align: middle !important;
}

.no-mgt {
    margin-top: 0 !important;
}

.no-mgb {
    margin-bottom: 0 !important;
}

.no-padding-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.display-table {
    display: table;
    width: 100%;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.display-block {
    display: block;
}

.no-display {
    display: none;
}

@media(min-width:768px) {
    .display-sm-table {
        display: table;
        width: 100%;
    }
}

@media(max-width:767px) {
    .display-xs-table {
        display: table;
        width: 100%;
    }
}

@media(min-width:768px) {
    .display-sm-table-cell {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

@media(max-width:767px) {
    .display-xs-table-cell {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.half-bg {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0;
}

.half-bg.right {
    left: auto;
    right: 0;
}

.half-bg.medium-grey {
    background: #e3e3e3;
}

.half-bg.light-grey {
    background: #eee;
}

.box-as {
    padding: 1rem;
    border: .1rem solid #858583;
    margin-bottom: 1.5rem;
    position: relative;
}

.box-as.lk-grd {
    border: .1rem solid #d8d8d8;
    padding: 0;
}

#home-offres .box-as.lk-grd {
    margin-top: -10rem;
    border: .1rem solid #cfcfcd;
}

@media(max-width:767px) {
    #home-offres .box-as.lk-grd {
        margin-bottom: 2rem;
        margin-top: 0;
    }
}

.box-as.lk-grd .thumb {
    height: 22rem;
    padding: 4rem;
    border-bottom: .1rem solid #d8d8d8;
}

@media(max-width:991px) {
    .box-as.lk-grd .thumb {
        padding: 2rem;
    }
}

@media(max-width:767px) {
    .box-as.lk-grd .thumb {
        height: 14rem;
    }
}

#home-offres .box-as.lk-grd .thumb {
    border-bottom: .1rem solid #cfcfcd;
}

.box-as.lk-grd .thumb h2 {
    z-index: 2;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    left: 4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: 15px;
    margin-top: 0;
    font-size: 2.6rem;
    line-height: 3.2rem;
}

@media(max-width:991px) {
    .box-as.lk-grd .thumb h2 {
        font-size: 1.8rem;
        line-height: 2.2rem;
        left: 2rem;
    }
}

.box-as.lk-grd .thumb h2:before {
    content: '';
    background: #e30155;
    height: 100%;
    width: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.box-as.lk-grd .content {
    padding: 3rem 6rem;
    color: #020202;
}

@media(max-width:767px) {
    .box-as.lk-grd .content {
        padding: 1.5rem 3rem
    }
}

#home-offres .box-as.lk-grd .content {
    padding-left: 4rem;
    line-height: 2.4rem;
    padding-right: 2rem;
    font-size: 1.6rem;
}

@media(max-width:991px) {
    #home-offres .box-as.lk-grd .content {
        padding-left: 2rem;
    }
}

#home-offres .box-as.lk-grd .content strong {
    font-size: 1.8rem;
}

#home-offres .box-as.lk-grd .content ul {
    padding-left: 0;
}

#home-offres .box-as.lk-grd .content ul li {
    margin-top: 3.5rem;
    list-style: none;
    padding-left: 2rem;
    position: relative;
}

#home-offres .box-as.lk-grd .content ul li:before {
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: 1rem;
    left: 0;
    background: #e30155;
    border-radius: 50%;
}

#home-offres .box-as.lk-grd .content ul li:first-child {
    margin-top: 0;
}

@media(max-width:767px) {
    #home-offres .box-as.lk-grd .content {
        display: none;
    }
}

#home-offres .box-as.lk-grd .btn-actions {
    padding: 0 10% 5rem;
}

@media(max-width:767px) {
    #home-offres .box-as.lk-grd .btn-actions {
        padding: 2rem;
    }
}

.box-as.no-border {
    border: 0;
}

.box-as.transparent-black {
    background: rgba(0, 0, 0, 0.26);
}

.box-as.white {
    background: #fff;
}

.box-as.xlg-padding {
    padding: 10rem;
}

.box-as .thumb {
    position: relative;
}

.box-as .content {
    text-align: left;
    padding: 0 2rem;
}

.stripe-section {
    padding: 5rem 0;
    position: relative;
}

@media screen and (max-width:767px) {
    .stripe-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.node-type-home-page .stripe-section .container {
    position: relative;
    width: 1044px;
}

@media screen and (max-width: 768px){
	.stripe-section .container {
	    position: relative;
	    width: 100%!important;
	}
}

.stripe-section.beige {
    background: #d2cfc6;
}

.stripe-section.no-padding {
    padding: 0;
}

.stripe-section .section-title {
    margin-top: 0;
}

.stripe-section .section-subtitle {
    margin-top: -3rem;
}

.btn-as {
    padding: 0 1rem;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 0;
    line-height: 1.8rem;
    color: #353533;
    -webkit-transition: background-color .2s ease, color .2s ease;
    -o-transition: background-color .2s ease, color .2s ease;
    transition: background-color .2s ease, color .2s ease;
    height: 5rem;
    font-size: 1.6rem;
}

.btn-as.primary {
    background: #96c246;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #fff;
    border: .1rem solid #96c246;
}

.btn-as.primary:hover {
    text-decoration: none;
    background: #89ab1c;
}

.btn-as.secondary {
    background: #342e2e;
    border: 0;
    color: #fff;
    font-weight: bold;
}

.btn-as.secondary:hover {
    text-decoration: none;
    background: #262222;
}

.btn-as:disabled {
    background: #e0e0e0;
    color: gray;
}

.btn-as:disabled:hover {
    background: #e0e0e0;
    color: gray;
    cursor: not-allowed;
}

.btn-as.with-shadow {
    box-shadow: .4rem .4rem .4rem -0.4rem rgba(0, 0, 0, 0.65);
}

.btn-as.expanded {
    height: 6rem;
}

.node-type-home-page .btn-as.w-100p {
    width: 100% !important;
    margin-top: 30px;
}

.row-select {
    position: relative;
}

.group-input {
    margin: 0 auto;
    padding-left: 0;
    display: table;
    height: 4.5rem;
}

.group-input li {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
}

.group-input li input[type="radio"] {
    display: none;
}

.group-input li input[type="radio"]+label {
    display: table-cell;
    vertical-align: middle;
    background: #e6e6e6;
    padding: 0 2rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6rem;
    cursor: pointer;
    color: #87888d;
    z-index: 1;
    border: .1rem solid #858583;
    height: 5.5rem;
    width: 30rem;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-left-radius: .6rem;
    border-top-left-radius: .6rem;
}

.group-input li input[type="radio"]+label:hover {
    background: #fff
}

.group-input li input[type="radio"]:checked+label {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.5) inset;
    color: #e30155;
    background: #fff;
   /* border-left-width: 0;
    border-right-width: 0;*/
    border-color: #e30155;
    z-index: 2;
}

.group-input li:first-child input[type="radio"] {
    display: none
}

.group-input li:first-child input[type="radio"]+label {
    border-bottom-right-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-left-radius: .6rem;
    border-top-left-radius: .6rem;
    border-right-width: 1px;
}

.group-input li:first-child input[type="radio"]:checked+label {
    border-left-width: .1rem;
    border-style: solid;
}

.group-input li:last-child input[type="radio"] {
    display: none;
}

.group-input li:last-child input[type="radio"]+label {
    border-bottom-right-radius: .6rem;
    border-top-right-radius: .6rem;
    border-bottom-left-radius: .6rem;
    border-top-left-radius: .6rem;
    border-left-width: 1px;
}

.group-input li:last-child input[type="radio"]:checked+label {
    border-right-width: .1rem;
    border-style: solid;
}

.infos-tooltip {
    position: absolute;
    top: 1rem;
    left: -2.5rem;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.6rem;
    height: 1.6rem;
    width: 1.6rem;
    border: 0;
    padding: 0;
    background: transparent;
    z-index: 2;
}

.infos-tooltip:before {
    content: "";
    font-family: 'iconas', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6rem;
    height: 1.6rem;
    width: 1.6rem;
    color: #353533;
    border-radius: 50%;
}

.infos-tooltip:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1199;
    text-align: center;
}

.overlay.overlay-xs .overlay-inner {
    width: 32rem;
    padding: 3.5rem 2.5rem;
}

.overlay.overlay-call-back .thumb {
    font-size: 6rem;
}

.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.overlay .close-overlay-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.overlay .overlay-inner {
    color: #fff;
    background: #353535;
    text-align: initial;
    display: inline-block;
    vertical-align: middle;
    width: 64rem;
    padding: 8rem 6rem;
    z-index: 2;
    position: relative;
    border-radius: 6px;
}

.overlay .overlay-inner form {
    vertical-align: middle
}

.overlay .overlay-inner form .field-container {
    position: relative
}

.overlay .overlay-inner form .field-container:after {
    font-family: 'iconas', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    font-size: 2.4rem;
    right: 1rem;
    top: .5rem;
}

.overlay .overlay-inner form input {
    border-radius: 0;
    width: 100%;
    height: 4rem;
}

.overlay .overlay-inner .close-overlay.icon-as {
    position: absolute;
    top: .5rem;
    right: 1rem;
    height: auto;
    width: auto;
    left: auto;
    font-size: 2rem;
    color: gray;
    background: 0;
    border: 0;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}

.overlay .overlay-inner .close-overlay.icon-as:hover {
    color: #fff;
}

.or-hr {
    text-align: center;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: table;
    width: 100%;
}

.or-hr span {
    display: table-cell;
    background: #353535;
    position: relative;
    z-index: 2;
    line-height: 3rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: url("../images/half-circle-hr-or.svg") no-repeat center center transparent;
}

.or-hr:before,
.or-hr:after {
    content: '';
    display: table-cell;
    background: url("../images/line-hr-or.svg") repeat-x center center transparent;
    top: 50%;
    z-index: 1;
}

.form-section .or-hr {
    font-style: italic;
}

.field-container {
    position: relative;
}

.field-container.datepicker {
    display: table;
}

.field-container.datepicker .icon-as {
    font-size: 2.6rem;
}

.field-container.datepicker .form-control {
    border-right-width: 0;
}

.field-container.datepicker .input-group-addon {
    color: #686868;
    background-color: #eee;
    border: .1rem solid #686868;
    border-radius: 0;
    box-shadow: .1rem .1rem .2rem 0 rgba(0, 0, 0, 0.5);
}

.field-container.datepicker .input-group-addon:hover {
    cursor: pointer;
}

.field-container.immatriculation {
    padding-left: 2rem;
    padding-right: 4.5rem;
}

.field-container.immatriculation .form-control {
    border-left: 0
}

.field-container.immatriculation .btn-plaque {
    width: 2rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border: .1rem #c0c0c0 solid;
}

.field-container.immatriculation .btn-as {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 0;
    top: 0;
    margin-top: 0;
}

.form-control {
    height: 4rem;
    border: .1rem solid #686868;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.8rem;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #232323;
}

.form-control option {
    font-weight: normal;
}

.form-control:focus {
    border-color: #686868;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#site-cache {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
}

#site-wrapper {
    position: relative;
}

#site-apropos {
    position: relative;
}

@media screen and (max-width:767px) {
    #site-apropos .half-bg {
        height: 30rem;
        position: relative;
        top: auto;
        left: auto;
    }
}

#site-apropos h2 {
    position: relative;
    margin-bottom: 4.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media screen and (max-width:767px) {
    #site-apropos h2 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width:767px) {
    #site-apropos h2:before {
        left: -.5rem;
    }
}

#site-apropos .box-as {
    padding-right: 0;
}

@media screen and (max-width:991px) {
    #site-apropos .box-as {
        padding: 6rem;
    }
}

@media screen and (max-width:767px) {
    #site-apropos .box-as {
        padding: 2rem;
    }
}

#site-prefooter {
    position: relative;
}

@media screen and (max-width:767px) {
    #site-prefooter .container {
        padding-left: 0;
        padding-right: 0;
    }
}

#site-prefooter h3 {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#site-prefooter h3:before {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    background: #e30155;
    left: -3rem;
    top: 0;
    height: 100%;
}

#site-prefooter .widget {
    position: absolute;
    z-index: 2;
    left: 4rem;
    top: -6.5rem;
}

@media screen and (max-width:991px) {
    #site-prefooter .widget {
        left: 1rem;
    }
}

#site-prefooter .site-footer-nav li {
    margin-top: 2rem;
}

@media screen and (max-width:767px) {
    #site-prefooter .site-footer-nav li {
        margin-top: 1rem;
    }
}

#site-prefooter .site-footer-nav li a {
    line-height: 1.4rem;
    display: block;
    font-size: 1.4rem;
    color: #000 !important;
	font-family: "Asap", sans-serif !important;
	font-weight: 500 !important;
}

@media screen and (max-width:767px) {
    #site-prefooter .site-footer-nav li a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:767px) {
    #site-prefooter .site-footer-nav li:first-child {
        margin-top: 0;
    }
}

#site-prefooter .site-footer-nav li.with-icon {
    position: relative;
}

#site-prefooter .site-footer-nav li.with-icon .icon-as {
    color: #3e3e3e;
    font-size: 2.8rem;
    vertical-align: middle;
    display: none;
    position: absolute;
    top: -.5rem;
    left: 0;
}

#site-prefooter .logo-cell {
    background: #e3e3e3;
    border-right: .1rem solid #cfcfcf;
}

#site-prefooter .address-cell {
    padding-left: 3rem;
    padding-right: 0;
    background: #eee;
}

#site-prefooter .nav-cell {
    background: #eee;
}

@media screen and (max-width:767px) {
    #site-prefooter .nav-cell {
        background: #fff;
    }
}

#site-prefooter .logo-cell,
#site-prefooter .address-cell,
#site-prefooter .nav-cell {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#site-prefooter .address-cell a,
#site-prefooter .nav-cell a {
    text-decoration: none;
}

@media screen and (max-width:767px) {
    #site-prefooter .logo-cell,
    #site-prefooter .address-cell {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

@media screen and (max-width:767px) {
    #site-prefooter .nav-cell {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

#site-footer {
    position: relative;
    background: #fff;
    color: #6d6d6d;
    font-size: 1.4rem;
}

@media screen and (max-width:767px) {
    #site-footer {
        font-size: 1.2rem;
        border-top: .1rem solid #c3c3c3;
    }
}

#site-footer .display-table {
    height: 9rem;
}

@media screen and (max-width:767px) {
    #site-footer .display-table {
        height: 6rem;
    }
}

#site-footer .display-table .entity {
    text-transform: uppercase;
    color: #000;
}

@media screen and (max-width:767px) {
    #site-footer img {
        max-width: 10rem;
    }
}

#site-prefooter .site-footer-nav li a {
  line-height: 1.4rem;
  display: block;
  font-size: 1.4rem;
  color: #000 !important;
  font-family: "Asap", sans-serif !important;
  font-weight: 500 !important;
}

#site-prefooter .lg-txt a{
  font-size: 1.6rem !important;
  font-family: "Asap", sans-serif !important;
  color: #000 !important;
}

#site-proposition ul{
  padding-left: 0px;
}

#site-proposition ul li{
  list-style: none;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

#site-proposition ul li:before{
  font-family: 'iconas',sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  content: "";
  position: absolute;
  top: .2rem;
  left: 0;
  font-size: 2rem;
  width: 1.6rem;
  text-align: center;
  height: 1.6rem;
  line-height: 1.6rem;
  margin-right: .5rem;
  color: #342e2e;
}

body.admin-menu{
  margin-top: 0 !important;
}

@media screen and (max-width:767px) {
    #intro {
        padding-top: 0;
        padding-bottom: 0;
        background: #f5f5f5;
    }
}

#intro .bg-mobile-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#intro .section-title {
    margin-bottom: 5.6rem;
    position: relative;
    z-index: 2;
}

@media screen and (max-width:767px) {
    #intro .section-title {
        padding-top: 2rem;
    }
}

#intro .section-subtitle .icon-as {
    font-size: 5rem;
}

#intro .intro-as-tabs-w {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

@media screen and (max-width:767px) {
    #intro .intro-as-tabs-w {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: .2rem solid #fff;
    }
    #intro .box-as.transparent-black.with-mg-t{
    	margin-top: 0 !important;
    }
}

#intro #intro-as-tabs {
    margin-bottom: 0;
    position: relative;
}
#intro #intro-as-tabs>li>button {
    width: 100%;
    background: #fff;
    border: 0;
    border-left: .1rem solid #d8d8d8;
    text-transform: uppercase;
    border-bottom: 0;
    color: #282425;
    font-size: 1.4rem;
    height: 4.5rem;
    -webkit-transition: color .2s ease, background-color .2s ease, margin .2s ease, height .2s ease, border-color .2s ease;
    -o-transition: color .2s ease, background-color .2s ease, margin .2s ease, height .2s ease, border-color .2s ease;
    transition: color .2s ease, background-color .2s ease, margin .2s ease, height .2s ease, border-color .2s ease;
}

@media screen and (max-width:767px) {
    #intro #intro-as-tabs>li>button {
        text-align: left;
        border-top: .2rem solid #fff;
        height: 6rem;
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 6rem;
        position: relative;
    }
    #intro #intro-as-tabs>li>button:before, button.topAccordion:before {
        font-family: 'iconas', sans-serif !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 6rem;
        width: 6rem;
        line-height: 6rem;
        text-align: center;
        color: #fff;
    }

    button.topAccordion:before {
        top:-6px!important;
    }

    button.topAccordion {
        text-align:left;
        line-height:2.5;
        font-size:20px;
        border-radius:0;
        background:#292526 !important;
        border-color: #292526 !important;
    }

    button.topAccordion.active {
        background:#e30155!important;
    }

    button.topAccordion i {
        float:left;
        padding-right:30px;
        padding-top:5px;
        font-size:3.8rem;
    }

    button.desktopTab {
        display:none;
    }
}

#intro #intro-as-tabs>li>button:hover,
#intro #intro-as-tabs>li>button.active {
    background: #292526;
    color: #fff;
    border-left-color: #292526;
}


@media screen and (min-width:768px) {
    #intro #intro-as-tabs>li>button:hover,
    #intro #intro-as-tabs>li>button.active {
        margin-top: -1rem;
        height: 5.5rem;
    }
}

@media screen and (max-width:767px) {
    #intro #intro-as-tabs>li>button:hover .icon-as,
    #intro #intro-as-tabs>li>button.active .icon-as {
        color: #fff;
    }
}

@media screen and (max-width:767px) {
    #intro #intro-as-tabs>li>button.active:before, button.topAccordion.active:before {
        content: "";
        color:#fff;
    }
}

#intro #intro-as-tabs>li>button .icon-as {
    font-size: 2.4rem;
    vertical-align: middle;
}

@media screen and (max-width:767px) {
    #intro #intro-as-tabs>li>button .icon-as {
        font-size: 3.8rem;
        margin-right: 2rem;
        color: #4d4d4d;
    }
}

#intro #intro-as-tabs>li:first-child button {
    border-left: 0;
}

@media screen and (max-width:767px) {
    #intro #intro-as-tabs>li:first-child button {
        border-top: 0 solid #e30155;
    }
}

#intro #intro-as-tabs>li:last-child button {
    border-right: 0;
}

#intro .intro-as-tab {
    padding: 0 3rem 3rem;
    background: rgba(242, 241, 237, 0.86);
    border-radius:0 0 6px;
    border: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height:379px;
}

#habitation div:first-child ul li {
	margin-right: 1px !important;
	margin-left: 1px !important;
	width: 24% !important;
}

#habitation div p{
	text-align: center;
}

#deuxroues div:first-child ul li{
	margin-right: 6px !important;
	margin-left: 7px !important;
	width: 30% !important;
}

#deuxroues div p{
	text-align: center;
}

#auto label{
	text-align: center;
	font-weight: normal;
}

#vsp label{
	text-align: center;
	font-weight: normal;
}

@media screen and (max-width:767px) {
    #intro .intro-as-tab {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        background: #e6e6e6;
        /*box-shadow: 0 .3rem 1rem 0 rgba(0, 0, 0, 0.3) inset;*/
    }
}

@media screen and (max-width:767px) {
    #intro .intro-as-tab {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: #fff;
    }
}

#intro .intro-as-tab .form-control {
    border-color: silver;
    text-transform: none;
}

#intro .intro-as-tab .btn-as {
    padding-left: 4rem;
    padding-right: 4rem;
}

#intro .box-as.transparent-black {
    padding: 2rem 0 2rem 2rem;
    background: 0;
}

#intro .box-as.transparent-black:before {
    content: '';
    width: 400%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.26);
    z-index: 0;
}

@media screen and (max-width:767px) {
    #intro .box-as.transparent-black:before {
        left: -20%;
        width: 140%;
    }
}

#intro .box-as.transparent-black.with-mg-t {
    margin-top: 9rem;
}

#intro .box-as.transparent-black .thumb {
    width: 10rem;
    position: relative;
    z-index: 1;
}

@media screen and (max-width:767px) {
    #intro .box-as.transparent-black .thumb {
        width: 7rem;
    }
}

#intro .box-as.transparent-black .thumb img {
    margin-top: -7rem;
}

#intro .box-as.transparent-black .content {
    padding: 0 0 0 2.7rem;
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.6);
}

#site-reassurance {
    padding-bottom: 13rem;
    padding-top: 6rem;
}

@media screen and (max-width:767px) {
    #site-reassurance {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

#site-reassurance .container {
    width: 80rem;
}

@media screen and (max-width:991px) {
    #site-reassurance .container {
        width: auto;
    }
}

#site-reassurance .section-title {
    margin-bottom: 4.5rem;
}

#site-reassurance .thumb {
    padding-right: 3rem;
}

#site-reassurance .thumb img {
    max-width: none;
}

@media screen and (max-width:767px) {
    #site-reassurance .thumb img {
        max-width: 100%;
    }
}

#site-reassurance .content {
    padding-right: 1.5rem;
}

#site-reassurance .content h3 {
    color: #e30155;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0;
}

.cdef {
    cursor:default;
}

#corps {
   z-index:0;
}

#modal-content p {
    color:#fff!important;
    font-size: 1.5rem;
}

.node-type-home-page #habitation.progressif .label-choice, .house .label-choice {
    font-size:18px;
    font-weight: bold;
}

.node-type-home-page #habitation.progressif > div > ul > li, .house #habitation.progressif > div > ul > li {
    width:48%!important;
}

.node-type-home-page #habitation.progressif > div > ul > li label, .house #habitation.progressif > div > ul > li label {
    padding:56px 0 10px;
    color:#000;
    height:113px;
    font-weight:bold;
    box-shadow:none;
}

.house #habitation.progressif > div > ul > li label {
    border:0.1rem solid #858583!important;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(n+3), .house #habitation.progressif > div > ul > li:nth-child(n+3) {
    margin-top:15px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(odd){
    margin-right:15px!important;
}

.house #habitation.progressif > div > ul > li:nth-child(odd) {
    margin-right:12px!important;
}

.node-type-home-page #habitation.progressif > div > ul > li input:checked+label, .house #habitation.progressif > div > ul > li input:checked+label {
    border-color:#454641;
    box-shadow:0 0 0.2rem rgba(0, 0, 0, 0.5);
    color:#000;
    border-bottom:5px solid #96c246 !important;
    line-height: 2rem;
    box-shadow:none;
}

.node-type-home-page #habitation.progressif > div > ul > li:first-child label, .house #habitation.progressif > div > ul > li:first-child label {
    background:url(../../progressForm/html/images/Pictos_maison.svg) no-repeat center 19px #fff;
    background-size:51px 51px;
}

.node-type-home-page #habitation.progressif > div > ul > li:first-child input:checked+label, .house #habitation.progressif > div > ul > li:first-child input:checked+label {
    background:url(../../progressForm/html/images/Pictos_maison-active.svg) no-repeat center 20px #fff;
    background-size:51px 51px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(2) label, .house #habitation.progressif > div > ul > li:nth-child(2) label {
    background:url(../../progressForm/html/images/Pictos_appartement.svg) no-repeat center 15px #fff;
    background-size:55px 55px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(2) input:checked+label, .house #habitation.progressif > div > ul > li:nth-child(2) input:checked+label {
    background:url(../../progressForm/html/images/Pictos_appartement_active.svg) no-repeat center 15px #fff;
    background-size:55px 55px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(3) label, .house #habitation.progressif > div > ul > li:nth-child(3) label {
    background:url(../../progressForm/html/images/Pictos_studio.svg) no-repeat center 15px #fff;
    background-size:60px 60px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(3) input:checked+label, .house #habitation.progressif > div > ul > li:nth-child(3) input:checked+label {
    background:url(../../progressForm/html/images/Pictos_studio_active.svg) no-repeat center 15px #fff;
    background-size:60px 60px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(4) label, .house #habitation.progressif > div > ul > li:nth-child(4) label {
    background:url(../../progressForm/html/images/Pictos_chambre.svg) no-repeat center 15px #fff;
    background-size:65px 65px;
}

.node-type-home-page #habitation.progressif > div > ul > li:nth-child(4) input:checked+label, .house #habitation.progressif > div > ul > li:nth-child(4) input:checked+label {
    background:url(../../progressForm/html/images/Pictos_chambre_active.svg) no-repeat center 15px #fff;
    background-size:65px 65px;
}

@media screen and (max-width: 992px) {
    .node-type-product-type.house #habitation.progressif > div > ul > li:nth-child(odd) {
        margin-right:8px!important;
    }

    .node-type-home-page #habitation.progressif > div > ul > li:nth-child(n+3), .house #habitation.progressif > div > ul > li:nth-child(n+3) {
        margin-top:8px;
    }
}

@media screen and (max-width: 767px){
    .node-type-home-page #habitation.progressif > div > ul > li, .house #habitation.progressif > div > ul > li {
        display:inline-block;
    }

    #auto #form-marque label{
        display: none;
    }

}

@media screen and (max-width: 490px){
    .node-type-home-page #habitation.progressif > div > ul > li, .house #habitation.progressif > div > ul > li {
        width:47%!important;
    }
}

@media screen and (max-width: 340px){
    .node-type-home-page #habitation.progressif > div > ul > li, .house #habitation.progressif > div > ul > li {
        width: 46% !important;
    }
}

@media screen and (min-width: 660px) and (max-width: 767px) {
    .node-type-home-page #habitation.progressif > div > ul, .house #habitation.progressif > div > ul {
        padding:0 45px;
    }
}

.title-modal-call-back {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 3rem;
    left: 3rem;
}