#site-header {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: .2rem -0.6rem 1rem .8rem rgba(0, 0, 0, 0.1);
}

#site-header #site-btn-navigation {
    background-color: #292526;
    color: #fefefe;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 20rem;
    padding: 0 0 0 10rem;
    text-align: left;
    height: 8rem;
    z-index: 2;
    font-size: 1.2rem;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

@media screen and (max-width:991px) {
    #site-header #site-btn-navigation {
        width: 8rem;
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    #site-header #site-btn-navigation {
        height: 5rem;
        width: 5rem;
    }
}

#site-header #site-btn-navigation .icon-as {
    font-size: 4rem;
    margin-right: 5rem;
    position: absolute;
    top: 50%;
    left: 3.4rem;
    margin-top: -2rem;
}

@media screen and (max-width:991px) {
    #site-header #site-btn-navigation .icon-as {
        margin-top: 0;
        margin-right: 0;
        position: static;
        font-size: 3rem;
    }
}

#site-header #site-btn-navigation .on {
    display: none;
}

#site-header #site-btn-navigation .off {
    display: inline;
}

#site-header #site-btn-navigation:hover {
    background: #1c191a;
}

#site-header .logo {
    padding-right: 20rem;
    padding-left: 20rem;
    line-height: 4rem;
    height: 8rem;
    display: block;
    -webkit-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

@media screen and (max-width:991px) {
    #site-header .logo {
        padding-right: 8rem;
        padding-left: 8rem;
    }
}

@media screen and (max-width:767px) {
    #site-header .logo {
        padding-right: 5rem;
        padding-left: 5rem;
        height: 5rem;
    }
    #site-header .logo img {
        height: 36px;
        width: auto;
        margin-top: 6px;
    }
}

#site-header .logo:hover {
    opacity: .4;
    filter: alpha(opacity=40);
}

.site-header-actions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#site-navigation .site-header-actions {
    position: static;
}

.site-header-actions li {
    float: left;
}

#site-navigation .site-header-actions li {
    float: none;
    border-bottom: 0;
    margin-right: -3.5rem;
    margin-left: -3.5rem;
}

.site-header-actions li button {
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    height: 8rem;
    padding-left: 7rem;
    padding-right: 3rem;
    text-align: left;
    position: relative;
    width: 20rem;
    font-size: 1.2rem;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.site-header-actions li a.open-callback {
  color: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  line-height: 2.8rem;
  height: 8rem;
  padding-left: 7rem;
  padding-right: 3rem;
  font-size: 1.2rem;
  text-transform: none;
  text-decoration: none;
  padding-top: 25px;
}

.site-header-actions li a.btn-as {
  width:100%;
}

@media screen and (max-width:991px) {
    #site-header .site-header-actions li button {
        width: 8rem;
        padding: 0;
        text-align: center;
    }
    #site-header .site-header-actions li a.open-callback {
        width: 8rem !important;
        line-height: 10rem;
        padding: 0;
        text-align: center;
        font-size: 0;
    }
}

@media screen and (max-width:767px) {
    #site-header .site-header-actions li button {
        height: 5rem;
        width: 5rem;
    }
     #site-header .site-header-actions li a.open-callback {
        line-height: 7rem;
        width: 5rem !important;
        font-size: 0;
    }
}

#site-navigation .site-header-actions li button {
    width: 100%;
    padding-left: 10.5rem;
}

#site-navigation .site-header-actions li button, #site-navigation .site-header-actions li a.open-callback {
    font-weight:normal;
}

#site-navigation .site-header-actions li a.open-callback {
    width: 100%;
    text-align: left;
    padding-left: 10.5rem;
}

.site-header-actions li button .icon-as {
    font-size: 4rem;
    margin-right: 5rem;
    position: absolute;
    top: 50%;
    left: 2.7rem;
    margin-top: -2rem;
}

.site-header-actions li a.open-callback .icon-as {
    font-size: 4rem;
    margin-right: 5rem;
    position: absolute;
    top: 40px;
    left: 2.7rem;
    margin-top: -2rem;
}

@media screen and (max-width:991px) {
    #site-header .site-header-actions li button .icon-as,
    #site-header .site-header-actions li a.open-callback .icon-as {
        margin-top: 0;
        margin-right: 0;
        position: static;
        font-size: 3rem;  
    }
}

#site-navigation .site-header-actions li button .icon-as,
#site-navigation .site-header-actions li a.open-callback .icon-as {
    font-size: 5rem;
    margin-top: -2.5rem;
    left: 4rem;
}

.site-header-actions li a.open-callback {
    background-color: #0C5194;
}

.site-header-actions li a.open-callback:hover {
    background: #042b61;
}

.site-header-actions li button.login {
    background-color: #292526;
    margin-left:0;
}

.site-header-actions li button.login:hover {
    background: #1c191a;
}

#site-navigation {
    position: fixed;
    left: -36rem;
    top: 0;
    height: 100%;
    width: 36rem;
    background: #fff;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    z-index: 99;
    overflow-y: auto;
}

@media screen and (max-width:767px) {
    #site-navigation {
        width: 27rem;
        left: -27rem;
    }
}

#site-navigation ul li {
    border-bottom: .1rem solid #d8d8d8;
}

#site-navigation ul.list-naviagtion-links li a {
    display: block;
    font-size: 1.6rem;
    color: #020202;
    text-transform: uppercase;
    padding: 1.7rem 3.5rem;
    margin-right: -3.5rem;
    margin-left: -3.5rem;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    text-decoration: none;
    font-weight:normal;
}

#site-navigation ul.list-naviagtion-links li a:hover {
    text-decoration: none;
    color: #e30155;
}

.imglogo {
	margin-top: 11px;
	margin-bottom: 14px;
}

.malus_resiliation {
	font-size: 13px;
}