.version.sinistre /* version checker */
{
	color: #0000F4;
	background-color: #B74794;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 7px;
	width: 0.01px;/* should not cover content below */
}

#u3821
{
	z-index: 2;
	width: 395px;
	left: -4px;
	position: relative;
}

#pu2239
{
	width: 0.01px;
}

#u2239
{
	z-index: 4;
	min-height: 41px;
	border-width: 0px;
	border-color: transparent;
	background-color: #353533;
}

#u2237
{
	z-index: 5;
	width: 48px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2237_img
{
	padding-bottom: 1px;
}

#u2245
{
	z-index: 11;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 348px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2239-bw
{
	z-index: 4;
	min-height: 41px;
}

#u2240
{
	z-index: 8;
	width: 256px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 60px;
}

#u2240_states
{
	float: left;
	width: 256px;
	height: 22px;
	background: transparent url("../../images/u2240_states.png") no-repeat 0px 0px;
}

#u2240:hover #u2240_states
{
	background: transparent url("../../images/u2240_states-r.png") no-repeat 0px 0px;
}

#u2240:active #u2240_states
{
	background: transparent url("../../images/u2240_states-m.png") no-repeat 0px 0px;
}

#pu3904
{
	width: 0.01px;
	margin-left: 12px;
	margin-top: 11px;
}

#u3904
{
	z-index: 58;
	width: 354px;
	height: 682px;
	background-color: #EAE8E8;
	position: relative;
	margin-right: -10000px;
}

#pamphletu3905
{
	z-index: 59;
	width: 0.01px;
	height: 338px;
	padding-bottom: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u3906
{
	position: absolute;
	width: 314px;
	background-color: transparent;
	top: 375px;
}

#u3906popup
{
	z-index: 60;
}

#u3907
{
	z-index: 61;
	width: 314px;
	height: 286px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3908-6
{
	z-index: 62;
	width: 298px;
	min-height: 257px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 5px;
}

#u3919
{
	z-index: 68;
	width: 314px;
	height: 286px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3922-10
{
	z-index: 69;
	width: 303px;
	min-height: 194px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 3px;
}

#u3908-4,#u3922-6,#u3922-8
{
	padding-left: 10px;
}

#u3923
{
	z-index: 79;
	width: 314px;
	height: 286px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3924-4
{
	z-index: 80;
	width: 298px;
	min-height: 164px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#u3924-2
{
	padding-right: 20px;
	padding-left: 10px;
	padding-top: 10px;
}

#u3915
{
	z-index: 84;
	width: 314px;
	height: 286px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3916-7
{
	z-index: 85;
	width: 294px;
	min-height: 142px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 9px;
}

#u3916-5
{
	padding-right: 20px;
	padding-left: 16px;
	padding-top: 20px;
}

#u3911
{
	z-index: 92;
	width: 314px;
	height: 286px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u3914-8
{
	z-index: 93;
	width: 309px;
	min-height: 142px;
	background-color: transparent;
	line-height: 21px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 5px;
}

#u3914-6
{
	padding-left: 16px;
}

#u3908-2,#u3922-2,#u3922-4,#u3916-2,#u3916-4,#u3914-2,#u3914-4
{
	color: #034587;
	font-weight: bold;
}

#u3931
{
	z-index: 101;
	width: 293px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 7px;
}

#pu3934
{
	position: absolute;
	width: 0.01px;
	top: -8px;
	left: -6px;
}

#u3934
{
	position: absolute;
	width: 312px;
	height: 66px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3934:hover #u3934
{
	width: 312px;
	height: 66px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu3934.PamphletThumbSelected #u3934
{
	width: 313px;
	height: 67px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u3935
{
	z-index: 105;
	height: 59px;
	width: 293px;
	vertical-align: top;
	background: transparent url("../../images/u3935.png") no-repeat 0px 0px;
}

#pu3934:hover #u3935
{
	position: relative;
	width: 293px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
	background: transparent url("../../images/u3935-r.png") no-repeat 0px 0px;
}

#pu3934.PamphletThumbSelected #u3935
{
	position: relative;
	width: 293px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
	background: transparent url("../../images/u3935-a.png") no-repeat 0px 0px;
}

#pu3934 #u3935
{
	position: relative;
	width: 293px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 5px;
}

#pu3936
{
	position: absolute;
	width: 0.01px;
	top: 71px;
	left: -6px;
}

#u3936
{
	position: absolute;
	width: 312px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #39B54A;
}

#pu3936.PamphletThumbSelected #u3936
{
	width: 313px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2D993C;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu3936:hover #u3936
{
	width: 312px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #39B54A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3937
{
	z-index: 113;
	height: 45px;
	width: 289px;
	vertical-align: top;
	background: transparent url("../../images/u3937.png") no-repeat 0px 0px;
}

#pu3936:hover #u3937
{
	position: relative;
	width: 289px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
	background: transparent url("../../images/u3937-r.png") no-repeat 0px 0px;
}

#pu3936.PamphletThumbSelected #u3937
{
	position: relative;
	width: 289px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
	background: transparent url("../../images/u3937-a.png") no-repeat 0px 0px;
}

#pu3936 #u3937
{
	position: relative;
	width: 289px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
}

#pu3932
{
	position: absolute;
	width: 0.01px;
	top: 142px;
	left: -6px;
}

#u3932
{
	position: absolute;
	width: 312px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3932:hover #u3932
{
	width: 312px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu3932.PamphletThumbSelected #u3932
{
	width: 313px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u3933
{
	z-index: 121;
	height: 25px;
	width: 100px;
	vertical-align: top;
	background: transparent url("../../images/u3933.png") no-repeat 0px 0px;
}

#pu3932:hover #u3933
{
	position: relative;
	width: 100px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 105px;
	background: transparent url("../../images/u3933-r.png") no-repeat 0px 0px;
}

#pu3932.PamphletThumbSelected #u3933
{
	position: relative;
	width: 100px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 106px;
	background: transparent url("../../images/u3933-a.png") no-repeat 0px 0px;
}

#pu3932 #u3933
{
	position: relative;
	width: 100px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 105px;
}

#pu3940
{
	position: absolute;
	width: 0.01px;
	top: 214px;
	left: -7px;
}

#u3940
{
	position: absolute;
	width: 313px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#u3941
{
	z-index: 129;
	height: 39px;
	width: 188px;
	vertical-align: top;
	background: transparent url("../../images/u3941.png") no-repeat 0px 0px;
}

#pu3940.PamphletThumbSelected #u3941
{
	position: relative;
	width: 188px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 62px;
	background: transparent url("../../images/u3941-a.png") no-repeat 0px 0px;
}

#pu3940 #u3941,#pu3940:hover #u3941
{
	position: relative;
	width: 188px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 61px;
}

#pu3938
{
	position: absolute;
	width: 0.01px;
	top: 286px;
	left: -7px;
}

#u3938
{
	position: absolute;
	width: 313px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #38B548;
}

#pu3940:hover #u3940,#pu3938:hover #u3938
{
	width: 313px;
	height: 59px;
	border-style: solid;
	border-width: 1px;
	border-color: #999999;
	background-color: #38B548;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu3940.PamphletThumbSelected #u3940,#pu3938.PamphletThumbSelected #u3938
{
	width: 314px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	background-color: #2C993A;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u3939
{
	z-index: 136;
	height: 27px;
	width: 185px;
	vertical-align: top;
	background: transparent url("../../images/u3939.png") no-repeat 0px 0px;
}

#pu3938.PamphletThumbSelected #u3939
{
	position: relative;
	width: 185px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 63px;
	background: transparent url("../../images/u3939-a.png") no-repeat 0px 0px;
}

#pu3938 #u3939,#pu3938:hover #u3939
{
	position: relative;
	width: 185px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 62px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu3894
{
	width: 0.01px;
	margin-left: 52px;
	margin-top: 16px;
}

#u3894
{
	z-index: 34;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3890-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 118px;
}

#u3890-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3901-4
{
	z-index: 52;
	width: 178px;
	min-height: 17px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin-top: 3px;
	position: relative;
}

#u3901
{
	text-decoration: underline;
}

#pu3944
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 25px;
}

#u3944
{
	z-index: 140;
	width: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3893-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 130px;
}

#u3893-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	position: relative;
}

#u3896-4
{
	z-index: 36;
	width: 169px;
	min-height: 34px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	margin-left: 4px;
	margin-top: 1px;
	position: relative;
}

#u3898-4
{
	z-index: 46;
	width: 173px;
	min-height: 10px;
	background-color: transparent;
	line-height: 14px;
	color: #B2B0B0;
	font-size: 12px;
	font-style: italic;
	margin-top: 14px;
	position: relative;
}

#pu3902
{
	width: 0.01px;
	margin-left: 65px;
	margin-top: 15px;
}

#u3902
{
	z-index: 56;
	width: 94px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3892-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 61px;
	margin-left: 97px;
}

#u3892-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3946-5
{
	z-index: 142;
	width: 135px;
	min-height: 27px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u3946
{
	color: #7F7F7F;
	font-weight: bold;
	font-style: italic;
}

#u3889-5
{
	z-index: 13;
	width: 262px;
	min-height: 23px;
	background-color: transparent;
	font-size: 17px;
	text-align: left;
	line-height: 20px;
	margin-left: 42px;
	margin-top: 28px;
	position: relative;
}

#u3889-2
{
	color: #1D70B7;
	font-weight: bold;
}

#pu3899
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 12px;
}

#u3899
{
	z-index: 50;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu3891-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 128px;
}

#u3891-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
}

#u3897-6
{
	z-index: 40;
	width: 165px;
	min-height: 70px;
	background-color: transparent;
	color: #7F7F7F;
	font-weight: bold;
	font-style: italic;
	margin-top: 15px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 50px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

